/* src/components/CadastroForm.css */
.cadastro-container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.cadastro-form {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 15px 4px;
  padding: 20px;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-inline: auto;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.cadastro-list {
  margin-top: 30px;
}

.cadastro-list ul {
  list-style-type: none;
  padding: 0;
}

.cadastro-list li {
  background-color: #f8f9fa;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 5px;
}
