/* src/App.css */
.app {
  display: flex;
}

.main-content {
  margin-left: 250px; /* Espaço igual à largura da sidebar */
  padding: 20px;
  width: calc(100% - 250px); /* Ajusta a largura do conteúdo principal */
}
